{
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"airbnb",
		"airbnb/hooks"
	],
	"rules": {
		"no-tabs": 0,
		"allowIndentationTabs": 0,
		"indent": [0, "tab"],
		"import/extensions": ["off"],
		"no-mixed-spaces-and-tabs": 0,
    "import/no-extraneous-dependencies": ["off"],
    "lines-between-class-members": ["off"],
    "react/require-default-props": ["off"],
		"react/jsx-filename-extension": [1, { "extensions": [".jsx", ".tsx"] }],
		"react/jsx-indent": [2, 2, { "indentLogicalExpressions": true }],
    "@typescript-eslint/ban-ts-comment": [1]
	},
	"settings": {
		"import/parsers": {
			"@typescript-eslint/parser": [".ts", ".tsx"]
		},
		"import/resolver": {
			"typescript": {}
		}
	},
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"env": {
		"browser": true,
		"node": true
	}
}
